<?xml version="1.0" encoding="UTF-8"?>
<!--
###############################################################################
# Copyright (c) 2016 Chen Chao(cnfree2000@hotmail.com).
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#  Chen Chao  - initial API and implementation
###############################################################################
-->
<plugin>
	<extension-point id="decompilerAdapters" name="decompilerAdapters" schema="schema/decompilerAdapters.exsd"/>
    <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%DecompilerView"
            icon="icons/decompiler.png"
            extensions="class"
            class="org.sf.feeling.decompiler.editor.JavaDecompilerClassFileEditor"
            id="org.sf.feeling.decompiler.ClassFileEditor"
            filenames="*.class without source">
            <contentTypeBinding
               contentTypeId="org.eclipse.jdt.core.javaClass"
            /> 
      </editor>
   </extension>
   <extension         
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.sf.feeling.decompiler.ClassFileEditor"
            id="org.sf.feeling.decompiler.ClassFileEditor.BreakpointRulerActions">
         <action
               label="Toggle Breakpoint"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
               actionID="RulerDoubleClick"
               id="org.eclipse.jdt.debug.ui.actions.ManageBreakpointRulerAction">
         </action>
      </editorContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%Decompiler"
            category="org.eclipse.jdt.ui.preferences.JavaBasePreferencePage"
            class="org.sf.feeling.decompiler.preferences.JavaDecompilerPreferencePage"
            id="org.sf.feeling.decompiler.Main">
      </page>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            targetId="org.eclipse.jdt.ui.PackageExplorer"
            name="%Decompiler.Filter"
            enabled="true"
            description="%Decompiler.Filter.Description"
            pattern=".decompiler*">
      </filter>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.OpenClassWithContributionFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=group.edit">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.OpenClassWithContributionFactory"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.edit">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.ExportSourceContributionFactory"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?before=group.edit">
      </menuContribution>
      <menuContribution
            allPopups="false"
            class="org.sf.feeling.decompiler.actions.ExportSourceContributionFactory"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?before=group.edit">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.sf.feeling.decompiler.Startup"/>
   </extension>
   <extension point="org.eclipse.ui.commands">  
      <category id="org.sf.feeling.decompiler"  
            name="Eclipse Class Decompiler">  
      </category>  
      <command  
            name="Decompile"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.decompile">  
      </command>  
      <command  
            name="Decompile With FernFlower"  
            categoryId="org.sf.feeling.decompiler"  
            id="org.sf.feeling.decompiler.decompile.fernflower">  
      </command>  
   </extension> 
   <extension
 		point="org.eclipse.ui.bindings">
 		<key
      		sequence="Ctrl+Alt+Z"
      		commandId="org.sf.feeling.decompiler.decompile"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
		<key
      		sequence="Ctrl+Alt+W"
      		commandId="org.sf.feeling.decompiler.decompile.fernflower"
      		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
		</key>
 	</extension>
 	<extension  
         point="org.eclipse.ui.handlers">  
      <handler  
            commandId="org.sf.feeling.decompiler.decompile"  
            class="org.sf.feeling.decompiler.actions.DecompileHandler">  
      </handler>  
      <handler  
            commandId="org.sf.feeling.decompiler.decompile.fernflower"  
            class="org.sf.feeling.decompiler.actions.DecompileWithFernFlowerHandler">  
      </handler>
   </extension>  
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            targetID="#ClassFileEditorContext"
            id="org.sf.feeling.decompiler.ExportSouceMenuAction">
         <action
               label="%ExportSource"
               class="org.sf.feeling.decompiler.actions.ExportSourceActionDelegate"
               menubarPath="org.eclipse.jdt.ui.refactoring.menu"
               id="org.sf.feeling.decompiler.actions.ExportSourceAction"
               icon="icons/etool16/export_wiz.gif"
               >
         </action>
      </viewerContribution>
   </extension>
   <extension
       point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation targetID="org.sf.feeling.decompiler.decompilerActionSet">
         <part id="org.sf.feeling.decompiler.ClassFileEditor"/>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">         
         <actionSet
            label="%Decompiler"
            visible="false"
            id="org.sf.feeling.decompiler.decompilerActionSet">
         <menu
               label="%DecompilerBar"
               id="decompilerMenu">
               <separator
                  name="decompilerGroup">
    		   </separator>
    		   <separator
                  name="preferenceGroup">
    		   </separator>
         </menu>
         <action
               class="org.sf.feeling.decompiler.actions.DecompilerMenuItemAction"
               enablesFor="*"
               hoverIcon="icons/decompiler.png"
               icon="icons/decompiler.png"
               id="org.sf.feeling.decompiler.actions.DecompilerToolbarMenu"
               label="%Decompiler"
               style="pulldown"
               toolbarPath="additions"
               tooltip="%Decompiler">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.ExportSourceMenuItemAction"
               enablesFor="*"
               hoverIcon="icons/etool16/export_wiz.gif"
               icon="icons/etool16/export_wiz.gif"
               disabledIcon="icons/dtool16/export_wiz.gif"
               id="org.sf.feeling.decompiler.actions.ExportSourceMenu"
               label="%ExportSource"
               style="push"
               menubarPath="decompilerMenu/decompilerGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.DecompilerMenuItemAction"
               enablesFor="*"
               hoverIcon="icons/decompiler.png"
               icon="icons/decompiler.png"
               id="org.sf.feeling.decompiler.actions.DecompilerMenu"
               label="%DecompilerAction"
               style="pulldown"
               menubarPath="decompilerMenu/decompilerGroup">
         </action>
         <action
               class="org.sf.feeling.decompiler.actions.PreferenceMenuItemAction"
               enablesFor="*"
               id="org.sf.feeling.decompiler.actions.preferenceMenu"
               label="%Preferences"
               style="push"
               menubarPath="decompilerMenu/preferenceGroup">
         </action>
      </actionSet>
   </extension>	 
</plugin>
