<?xml version="1.0" encoding="UTF-8"?>
<!--
###############################################################################
# Copyright (c) 2016 Chen Chao(cnfree2000@hotmail.com).
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#  Chen Chao  - initial API and implementation
###############################################################################
-->
<plugin>
	<extension
      	point="org.eclipse.core.expressions.propertyTesters">
   		<propertyTester
         	class="org.sf.feeling.decompiler.update.tester.DecompilerUpdateTester"
         	id="DecompilerUpdateTester"
         	namespace="Decompiler"
         	properties="mpcInstall"
         	type="org.sf.feeling.decompiler.JavaDecompilerPlugin">
   		</propertyTester>
  	</extension>
  	<extension
        point="org.sf.feeling.decompiler.decompilerAdapters">
     	<adaptable
           class="org.sf.feeling.decompiler.JavaDecompilerPlugin">
           <adapter
                 class="org.sf.feeling.decompiler.update.DecompilerUpdateHandler"
                 id="org.sf.feeling.decompiler.update.DecompilerUpdateHandler"
                 singleton="true"
                 type="org.sf.feeling.decompiler.update.IDecompilerUpdateHandler">
                 <enablement>
             	 	<test
                   		forcePluginActivation="true"
                   		property="Decompiler.mpcInstall"
                   		value="true">
             		</test>
                 </enablement>
           </adapter>
     	</adaptable>
  	</extension>
</plugin>
